{
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["standard"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0
  }
}
