.router-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;

  &:not(:last-child) {
    pointer-events: none;
  }

  // route fade animation
  &-fade {
    transition-duration: .3s;
    transition-property: transform, opacity;

    // forward
    //
    &-forward-enter {
      transform: scale(.8);
      opacity: 0;
    }

    // back
    //
    &-back-leave-active {
      transform: scale(.8);
      opacity: 0;
    }
  }

  // route slide animation
  //
  &-slide {
    transition: transform .4s;
    will-change: transform;

    &:not(:last-child):not(&-back-leave-active):not([data-stack-id = '1']) {
      transform: translate3d(-20%, 0, 0);
    }

    $shadow: -4px 0 8px 0 rgba(0, 0, 0, .2);

    // back
    //
    &-back-leave-active {
      transform: translate3d(99%, 0, 0);
      box-shadow: $shadow;
    }

    // forward
    //
    &-forward-enter {
      transform: translate3d(90%, 0, 0);
    }

    &-forward-enter-active {
      box-shadow: $shadow;
    }
  }
}
